body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 0;
  padding-right: 0;
}
.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.line {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
}
.line-header {
  display: flex;
}
.menu-header {
  display: flex;
  margin-bottom: 0;
}
.line-navig {
  display: flex;
  align-items: center;
  margin-left: 150px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-web {
  color: #2e2f42;
  text-decoration: none;
}
.menu-header {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}
.menu:hover {
  color: #404bbf;
}
.menu:focus {
  color: #404bbf;
}
.mail-contact {
  font-style: normal;
  margin-left: 0;
}
.mail-contact {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 150px;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}

.text-central {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: 472px;
  margin-right: 472px;
  display: block;
  width: 496px;
}
.main-central {
  background: #2e2f42;
}
.button-styles {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  min-width: max-content;
  margin-left: 636px;
  margin-bottom: 48px;
}
.button-styles:hover {
  background: #404bbf;
}
.button-styles:focus {
  background: #404bbf;
}
/* menu-two */
.text-central-two {
  display: flex;
  flex-basis: calc(100% - 72px) / 4;
  margin-left: 156px;
  margin-right: 156px;
  margin-top: 0;
  min-width: 1128px;
  gap: 24px;
}
.text-li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 264px;
  height: 104px;
}
.menu-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-menu-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}
.main-foto {
  background: #f4f4fd;
}
.item-foto {
  display: flex;
  flex-basis: calc(100% - 72px) / 4;
  gap: 24px;
  margin-top: 72px;
  margin-left: 156px;
  margin-right: 156px;
}
.main-list {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.central-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.name-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 32px;
}
.work {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 32px;
}
.item-foft-two {
  display: flex;
  flex-basis: calc(100% - 48px) / 3;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin-left: 156px;
  margin-left: 156px;
  margin-top: 72px;
}
.main-list-two {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}
.text-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.card-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.color-footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}
.box-footer {
  display: inline-block;
  margin-top: 100px;
  margin-left: 156px;
  margin-bottom: 100px;
  width: 264px;
  height: 112px;
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  display: flex;
  flex-basis: 264px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-web-footer {
  color: #f4f4fd;
}
